services:
  mediamtx:
    image: bluenviron/mediamtx
    ports:
      - "1935:1935"
      - "8554:8554"
      - "8888:8888" # also has HLS interface - but it's mediamtx based rather than FFMpeg. Here we try to use FFMpeg for HLS generation.
    environment:
      - RTSP_PROTOCOLS=tcp

  # RTSP Stream available at rtsp://<host-ip>:8554/demo-traffic
  demo-traffic:
    image: linuxserver/ffmpeg:version-4.4-cli
    links:
      - "mediamtx:mediamtx"
    depends_on:
      - mediamtx
    command: -re -stream_loop -1 -i https://eu-central-1.linodeobjects.com/savant-data/demo/Free_City_Street_Footage.mp4 -c copy -bsf:v h264_mp4toannexb -f rtsp rtsp://mediamtx:8554/demo-traffic

  demo-traffic-hls:
    image: linuxserver/ffmpeg:version-4.4-cli
    links:
      - "mediamtx:mediamtx"
    depends_on:
      - mediamtx
      - demo-traffic
    volumes:
      - hls-data:/hls
    entrypoint: /bin/sh
    # Wait until the RTSP stream is available, then start FFMpeg to convert it to HLS
    command:
      - -c
      - |
        until ffmpeg -rtsp_transport tcp -i rtsp://mediamtx:8554/demo-traffic -c copy -f hls -hls_time 2 -hls_list_size 5 -hls_flags delete_segments /hls/demo-traffic.m3u8; do
          echo "FFmpeg exited, retrying in 2s..."
          sleep 2
        done

  # FFMpeg generated Stream available at http://<host-ip>:8080/demo-traffic.m3u8
  hls-server:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - hls-data:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro  # Add this
    depends_on:
      - demo-traffic-hls

volumes:
  hls-data:
